@media(max-width: 1100px) {
    #app .cards {
        grid-template-columns: 308px 308px;
        justify-content: center;
        grid-row-gap: 34px;
    
    }
}


@media(max-width: 845px) {
    #app .select-area--title {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    #app .select-area .drop-down--display {
        margin-top: 0;
    }
    #app .select-area {
        height: 155px;
        flex-direction: column;
    }
}


@media(max-width: 680px) {
    #app .cards {
        grid-template-columns: 308px;
        grid-template-rows: repeat(3, 364px);
    }
    #app .select-area--title {
        font-size: 22px;
    }
    #app .select-area .drop-down {
        // width: 100%;
        width: 255px;
        // margin-left: 10px;
        // margin-right: 10px;
    }
    #app .select-area {
        padding: 0;
    }
}